@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Raleway:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    color: #d0d0d0;
    text-decoration: none;
}

header {
    background: linear-gradient(to bottom right, #9966ff 31%, #cc00ff 102%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    height: 70px;
}

.linkimg {
    background-color: transparent;
}

.logo{
    background-color: transparent;
    cursor: pointer;  
    width: 30px;
    height: 40px;
    opacity: 1;
    transition: 0.3s;
}

.logo:hover{
    opacity: 0.659;
}

.nav_link {
    background: none;
    background-color: transparent;
    list-style: none;
}

.nav_link li{
    background: none;
    background-color: transparent;
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a {
    background-color: transparent;
    transition: all 0.5s ease 0s;
}

.nav_link li a:hover {
    color: aqua;
}

.naslov {
    font-family: Bitter;
    font-weight: 800;
    font-size: 50px;
    color: antiquewhite;
    text-decoration: none;
    background: transparent;
}

.under {
    border: none;
    position: static;
    display: inline-block;
    background: linear-gradient(135deg, rgba(0,0,0,0.9023984593837535) 31%, rgba(50,50,50,1) 83%, rgba(61,61,61,0.9220063025210083) 100%);
    width: 220px;
    height: 220px;
    border-radius: 20px;
    margin: 0.7%;
    transition: all 0.2s ease 0s;
}

.prezentacija {
    position: relative;
    display: inline-block;
    background: linear-gradient(45deg, rgba(227,144,0,0.9023984593837535) 18%, rgba(255,201,0,1) 50%, rgba(246,220,15,0.9220063025210083) 100%);
    width: 220px;
    height: 220px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.prezentacija:hover {
    transform: translate(-4px, -4px);
    cursor: pointer;

}

.link {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Bitter;
    font-weight: 1000;
    font-size: 20px;
}